<div id="main" class="container">


    <div id="row1" class="row">
   <ul id="logs">
       <li id="space"><a href="#" id="logout" ng-click="authObj.$unauth()">Logout</a></li>
       <li id="in"> Hello! {{authData.password.email}}</li>

   </ul>

        <div class="col-lg-12">
            <img src="img/PILOGO1.png" alt="logo"/>
            <h1 class="head">Welcome to performance.issues()!</h1>
            <h2 class="head1">Every developer has them</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" id="comments">


            <h2>Your Private Chats:</h2>


            <div ng-repeat="chat in makeChat | userChats:userChatId" class="comment">
                    <span id="text"> <a href="#/userChat/{{ chat.$id }}">{{chat.chat}}</a>
                    </span>

            </div>
            <h2 id="public">Public Chat:</h2>

            <pre><div ng-repeat="x in comments" class="comment">

                    <span id="text"><p id="from">{{x.from}} :</p><p id="bod">{{x.body}}</p>
                    </span>

            </div></pre>

            <div id="textWrap">

                <textarea rows="7" ng-model="newComment"></textarea>

                <button ng-click="addComment($event)">Comment</button>

            </div>

        </div>

        <div class="col-lg-6">



            <div id="form-container">

                <h1 id="chat-head">Create your own private chat</h1>

                <div class="form-group">
                    <label id="namer" for="chat1">Name of Chat</label>
                    <input ng-model="newChat" type="text" class="form-control" id="chat1" placeholder="Name of Chat">
                </div>

                <button id="signup" ng-click="addChat()" class="btn btn-default">Create Chat</button>

            </div>

            <img src="img/comp.jpeg" alt="comp">



            </div>

        </div>


        </div>
</div>