<div id="main" ng-controller="chaterController" class="container">

    <div id="row1" class="row">

        <button type="button" ng-click="back()" id="back">Back To Public</button>

        <ul id="logs">
            <li id="space"><a href="#" id="logout" ng-click="authObj.$unauth()">Logout</a></li>
            <li id="in"> Hello: {{authData.password.email}}</li>

        </ul>

        <div class="col-lg-12">
            <img src="img/PILOGO1.png" alt="logo"/>
            <h4 id="adding">To add people to chat send them the URL</h4>
            <h1 class="head">Welcome to performance.issues()!</h1>
            <h2 class="head1">Every developer has them</h2>
        </div>
    </div>

<h1 id="user2">You are in: {{authData.password.email}}</h1><hr>


    <div class="row">
        <div class="col-lg-6" id="comments">

            <div ng-repeat="x in privChat" class="comment">

                        <span id="text"><h2 id="user">{{x.from}}</h2><h3 id="commenting">{{x.body}}</h3>
                        </span>

            </div>

            <div id="textWrap">

                <textarea rows="7" ng-model="newComment"></textarea>

                <button ng-click="addToChat($event)">Comment</button>

            </div>

        </div>

        <div class="col-lg-6">

        <img src="img/shhh.jpeg" alt="shh">

    </div>

</div>
